name: continuous-integration

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

env:
  SHELL: /bin/bash

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version: stable
        cache: false
    - run: go install golang.org/x/tools/cmd/goimports@latest
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest
    - uses: pre-commit/action@v3.0.1

  test-vroom:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version: stable
        cache: false
    - run: make test
