name: continuous-integration

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

env:
  SHELL: /bin/bash

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version: stable
        cache: false
    - run: go install golang.org/x/tools/cmd/goimports@latest
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest
    - uses: pre-commit/action@v3.0.1

  test-vroom:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version: stable
        cache: false
    - run: make test

  build-image:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            platform: amd64
          - os: ubuntu-24.04-arm
            platform: arm64
    needs:
      - lint
      - test-vroom
    if: github.repository_owner == 'getsentry'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Build
        uses: docker/build-push-action@32945a339266b759abcbdc89316275140b0fc960 # v6.8.10
        with:
          context: .
          cache-from: ghcr.io/getsentry/vroom:nightly
          cache-to: type=inline
          platforms: linux/${{ matrix.platform }}
          tags: vroom:${{ matrix.platform }}
          outputs: type=docker,dest=/tmp/vroom-${{ matrix.platform }}.tar
          push: false

      # NOTE(aldy505): Rather than pushing the individual architecture-specific image to GHCR,
      # we're uploading the tarball into GHA's artifact store and assemble it later
      # to create a multiplatform image. This way, we won't be polluting the GHCR image tags
      # with a bunch of images that are only being used for CI purposes.
      #
      # For posterity: If at any chance you need the individual architecture-specific images,
      # you can set `push: true` and `tags: ghcr.io/getsentry/vroom:${{ github.sha }}-${{ matrix.platform }}` in the above step.
      - name: Upload Image
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: vroom-${{ matrix.platform }}
          path: /tmp/vroom-${{ matrix.platform }}.tar

  assemble-image:
    runs-on: ubuntu-latest
    needs:
      - build-image
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: docker login --username '${{ github.actor }}' --password-stdin ghcr.io <<< "$GHCR_TOKEN"
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Download amd64 Image
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.2
        with:
          name: vroom-amd64
          path: /tmp

      - name: Load amd64 Image
        run: docker load --input /tmp/vroom-amd64.tar

      - name: Download arm64 Image
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.2
        with:
          name: vroom-arm64
          path: /tmp

      - name: Load arm64 Image
        run: docker load --input /tmp/vroom-arm64.tar

      - name: Push to GitHub Container Registry
        run: |
          docker tag vroom:amd64 ghcr.io/getsentry/vroom:${{ github.sha }}-amd64
          docker push ghcr.io/getsentry/vroom:${{ github.sha }}-amd64
          docker tag vroom:arm64 ghcr.io/getsentry/vroom:${{ github.sha }}-arm64
          docker push ghcr.io/getsentry/vroom:${{ github.sha }}-arm64

          docker manifest create \
            ghcr.io/getsentry/vroom:${{ github.sha }} \
            --amend ghcr.io/getsentry/vroom:${{ github.sha }}-amd64 \
            --amend ghcr.io/getsentry/vroom:${{ github.sha }}-arm64

          docker manifest create \
            ghcr.io/getsentry/vroom:nightly \
            --amend ghcr.io/getsentry/vroom:${{ github.sha }}-amd64 \
            --amend ghcr.io/getsentry/vroom:${{ github.sha }}-arm64

          docker manifest push ghcr.io/getsentry/vroom:${{ github.sha }}
          docker manifest push ghcr.io/getsentry/vroom:nightly

  publish-to-dockerhub:
    name: Publish Vroom to DockerHub
    runs-on: ubuntu-latest
    if: ${{ (github.ref_name == 'main') }}
    needs:
      - assemble-image
    steps:
      - uses: actions/checkout@v4
      - name: Push built docker image
        shell: bash
        run: |
          IMAGE_URL="ghcr.io/getsentry/vroom:${{ github.sha }}"
          docker pull "$IMAGE_URL"
          docker login --username=sentrybuilder --password ${{ secrets.DOCKER_HUB_RW_TOKEN }}
          
          # We push 3 tags to Dockerhub:
          # first, the full sha of the commit
          docker buildx imagetools create --tag getsentry/vroom:${GITHUB_SHA} ghcr.io/getsentry/vroom:${{ github.sha }}
          
          # second, the short sha of the commit
          SHORT_SHA=$(git rev-parse --short "$GITHUB_SHA")
          docker buildx imagetools create --tag getsentry/vroom:${SHORT_SHA} ghcr.io/getsentry/vroom:${{ github.sha }}

          # finally, nightly
          docker buildx imagetools create --tag getsentry/vroom:nightly ghcr.io/getsentry/vroom:${{ github.sha }}
