name: continuous-integration

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

env:
  SHELL: /bin/bash

defaults:
  run:
    shell: bash

jobs:
  test-vroom:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v3
      with:
        go-version: 'stable'
    - run: go install golang.org/x/tools/cmd/goimports@latest
    - run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.51.1
    - uses: pre-commit/action@v3.0.0
    - run: make test
    - name: TruffleHog OSS
      uses: trufflesecurity/trufflehog@v3.16.4
      with:
        path: ./
        base: ${{ github.event.repository.default_branch }}
        head: HEAD
        extra_args: --debug --only-verified

  self-hosted-end-to-end:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: build
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Run Sentry self-hosted e2e CI
        # Skip for dependabot or if it's a fork as the image cannot be uploaded to ghcr since this test attempts to pull
        # the image from ghcr
        if: "!github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]'"
        uses: getsentry/action-self-hosted-e2e-tests@f45ef07793b2cc805a9a9401819f486da449a90a
        with:
          project_name: vroom
          image_url: us.gcr.io/sentryio/vroom:${{ github.event.pull_request.head.sha || github.sha }}
          docker_repo: getsentry/vroom
          docker_password: ${{ secrets.DOCKER_HUB_RW_TOKEN }}
